/* @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700'); */
@import url('https://fonts.googleapis.com/css?family=Arvo:400,500,700&display=swap');

html, body {
    height: 100%;
    width: 100%;
/*    font-family: 'Poppins', sans-serif; */
    font-family: 'Arvo', serif;
    color: #222
}

.main-container {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    min-height: calc(100vh - 126px - 56px - 3.5rem);
    /* this causes the footer to be sticky; 136px from navbar, 56px from footer */
}

nav#navbar {
    background-color: #3697ff;
}

.navbar-nav li {
    padding-right: 2px;
}

.nav-link {
    cursor: pointer;
    font-size: 1.1em !important;
    background-color: transparent;
    border: none;
}
.dropdown-item {
    cursor: pointer;
}

.center {
    margin: auto;
}

/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}

.navbar-nav li:hover > ul.dropdown-menu {
    display: block;
    margin: 0;
}
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    /*left:-100%;*/
    left:-10rem; /* 10rem is the min-width of dropdown-menu */
    margin-top:-6px;
}
