<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }} | OpenBrackets </title>
    <link rel="preconnect" href="https://cdn.jsdelivr.net">
    <meta name="description" content="{{ page.description }}">
    <meta property="article:publisher" content="OpenBrackets">
    <meta property="og:description" content="{{ page.description }}">
    <meta property="og:image" content="https://openbrackets.us/assets/images/OpenBracketsLogoTransparent.png">
    <meta property="og:site_name" content="OpenBrackets">
    <meta property="og:title" content="{{ page.title }} | OpenBrackets">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://openbrackets.us{{ page.path }}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:description" content="{{ page.description }}">
    <meta name="twitter:domain" content="openbrackets.us">
    <meta name="twitter:image" content="https://openbrackets.us/assets/images/OpenBracketsLogoTransparent.png">
    <meta name="twitter:title" content="{{ page.title }} | OpenBrackets">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="shortcut icon" href="/assets/images/favicon.ico">
</head>
<body>
<nav id="navbar" class="navbar navbar-expand-lg navbar-light sticky-top">
    <a class="navbar-brand" href="/"><img src="/assets/images/OpenBracketsLogo.jpg" height="100" width="100" alt="OpenBrackets Logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li id="home-nav" class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li id="spring2022-nav" class="nav-item dropdown">
                <button class="dropdown-toggle nav-link" type="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                    Spring 2022
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a class="nav-link dropdown-item" href="/spring2022/index.html">
                            <button class="dropdown-item" type="button">
                                Information
                            </button>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link dropdown-item" href="/spring2022/beginningPython.html">
                            <button class="dropdown-item" type="button">
                                Beginning Programming (in Python)
                            </button>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link dropdown-item" href="/spring2022/intermediatePython.html">
                            <button class="dropdown-item" type="button">
                                Intermediate Programming (in Python)
                            </button>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link dropdown-item" href="/spring2022/beginningWebDevelopment.html">
                            <button class="dropdown-item" type="button">
                                Beginning Web Development
                            </button>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link dropdown-item" href="/spring2022/intermediateWebDevelopment.html">
                            <button class="dropdown-item" type="button">
                                Intermediate Web Development
                            </button>
                        </a>
                    </li>
                </ul>
            </li>
            <li id="pastSemesters-nav" class="nav-item dropdown">
                <button class="dropdown-toggle nav-link" type="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                    Past Semesters
                </button>
                <ul class="dropdown-menu">
                    <li class="nav-item dropdown dropright">
                        <a href="/fall2020/summary.html" class="btn dropdown-item dropdown-toggle" data-toggle="dropdown"
                                aria-expanded="false">
                            Fall 2020
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="nav-link dropdown-item" href="/fall2020/summary.html">
                                    <button class="dropdown-item" type="button">
                                        Summary
                                    </button>
                                </a>
                            </li>
                            <li><a class="nav-link dropdown-item" href="/fall2020/curriculum.html">
                                <button class="dropdown-item" type="button">
                                    Curriculum
                                </button>
                            </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown dropright">
                        <a href="/spring2021/summary.html" class="btn dropdown-item dropdown-toggle" data-toggle="dropdown"
                            aria-expanded="false">
                            Spring 2021
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="nav-link dropdown-item" href="/spring2021/summary.html">
                                    <button class="dropdown-item" type="button">
                                        Summary
                                    </button>
                                </a>
                            </li>
                            <li>
                                <a class="nav-link dropdown-item" href="/spring2021/beginnerPython.html">
                                    <button class="dropdown-item" type="button">
                                        Beginner Python
                                    </button>
                                </a>
                            </li>
                            <li>
                                <a class="nav-link dropdown-item" href="/spring2021/intermediatePython.html">
                                    <button class="dropdown-item" type="button">
                                        Intermediate Python
                                    </button>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown dropright">
                        <a href="/fall2021/summary.html" class="btn dropdown-item dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            Fall 2021
                        </a>
                        <ul class="dropdown-menu dropright">
                            <li>
                                <a class="nav-link dropdown-item" href="/fall2021/summary.html">
                                    <button class="dropdown-item" type="button">
                                        Summary
                                    </button>
                                </a>
                            </li>
                            <li>
                                <a class="nav-link dropdown-item" href="/fall2021/beginnerPython.html">
                                    <button class="dropdown-item" type="button">
                                        Beginner Python
                                    </button>
                                </a>
                            </li>
                            <li>
                                <a class="nav-link dropdown-item" href="/fall2021/intermediatePython.html">
                                    <button class="dropdown-item" type="button">
                                        Intermediate Python
                                    </button>
                                </a>
                            </li>
                            <li>
                                <a class="nav-link dropdown-item" href="/fall2021/webDevelopment.html">
                                    <button class="dropdown-item" type="button">
                                        Beginner Web Development
                                    </button>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <!--            <li id="hallOfFame-nav" class="nav-item">-->
            <!--                <a class="nav-link" href="/hallOfFame.html">Hall of Fame</a>-->
            <!--            </li>-->
            <li id="about-nav" class="nav-item">
                <a class="nav-link" href="/about.html">About</a>
            </li>
            <li id="contact-nav" class="nav-item">
                <a class="nav-link" href="/contact.html">Contact</a>
            </li>
            <!-- <li id="donate-nav" class="nav-item mr-4"> -->
            <!--    <a class="nav-link" href="/donate.html">Donate</a> -->
            <!-- </li> -->
            <li id="getInvolved-nav" class="nav-item">
                <a href="/getInvolved.html">
                    <button class="btn btn-success my-2 my-sm-0">Get Involved</button>
                </a>
            </li>
        </ul>
    </div>
</nav>
<main class="main-container container">
    {{ content }}
</main>
<footer id="footer" class="bg-light text-center text-lg-start">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        ©2023 OpenBrackets | <a href="/studentSafetyPolicy.html">Student
        Safety Policy</a> | <a href="/studentInformationPolicy.html">Student Information Policy</a>
    </div>
</footer>
<script>
    const navbarHighlight = "{{ page.navbarHighlight }}";
    if (navbarHighlight !== "none") {
        document.getElementById(navbarHighlight + "-nav").classList.add("active");
        const dropdownButton = document.querySelector("#" + navbarHighlight + "-nav button.dropdown-toggle");
        if (dropdownButton) {
            dropdownButton.classList.add("active");
        }
    }
</script>
</body>
</html>

